node_modules/
/composer.lock
/phpunit.xml
/vendor
.env
.env.php
.vscode
.phpunit.result.cache
*.crt 
*.key
package-lock.json
.php_cs.cache
database/application.db 
database/test.db 
bundle.css
bundle.js
coverage/
.env.task

/coverage
/logs/*
/tmp/*
/vendor/*

updater.lock
auth.json
DevCommand.php
