<?xml version="1.0"?>
<ruleset name="Application">
	<description>Coding standard for your application.</description>
	<rule ref="PSR2"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
</ruleset>
